* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 50px;
}

#start-page,
.highscore-page {
  text-align: center;
}

.btn:hover {
  background-color: #6dece0;
}

#timer {
  /* display: inline; */
  margin-left: 95%;
  font-size: 15px;
  /* margin: 10px; */
}

#highscoreLink {
  /* display: inline; */
  float: left;
  border: none;
  outline: none;
  background-color: white;
  font-size: 15px;
  /* margin: 10px; */
}

#highscoreLink:hover {
  text-decoration: underline;
}

.quizPage,
.enterInitials-page,
.highscore-page,
#start-page {
  margin: 0 auto;
  width: 75%;
  padding-top: 1%;
}

h2 {
  font-size: 30px;
}

.choices {
  width: 300px;
  margin: 0 5%;
}

.btn {
  background-color: #15b5b0;
  width: 175px;
  padding: 5px;
  margin-bottom: 5px;
  color: black;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  text-align: center;
  font-size: medium;
  border: none;
}

.mc {
  width: 400px;
}

.btn-choice:hover {
  background-color: #6dece0;
}

.alert {
  font-size: 35px;
  padding-top: 20px;
  margin: 0 5%;
  font-style: italic;
}
#correct {
  color: green;
}

#incorrect {
  color: red;
}

#initials {
  width: 330px;
  padding: 5px;
}

.hidden {
  display: none;
}
